/* Reusable */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px / 16px = 0.625 => 1rem = 10px */
}

body {
  color: #212529;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 700;
}

h4 {
  font-size: 2.4rem;
  font-weight: 700;
}

h5 {
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #212529;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
  font-size: 1.6rem;
}

.container {
  width: 100%;
  max-width: 129.6rem;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.logo a {
  display: block;
}

.page-link a {
  color: #212529;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 1.2rem 0;
}

.page-link a:hover {
  color: #6c757d;
}

/* Header Nav */
.site-header nav {
  width: 100%;
  padding: 1.6rem 0;
  display: flex;
  align-items: center;
}

.site-header .logo-link {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.site-header .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.btn-wrapper {
  margin-left: auto;
  padding: 1.2rem;
  cursor: pointer;
}

.btn-wrapper:hover .btn-icon {
  color: #57a203;
}

.btn-icon {
  display: block;
}

/* 右側＋左側 grid */
.product-detail__container {
  display: grid;
  /* 使用 minmax(0, 比例) 強制鎖定比例，不讓內容撐破排版 */
  grid-template-columns: minmax(0, 746fr) minmax(0, 526fr);
  gap: 2.4rem;
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

/* 左側商品圖 */
.product-gallery__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.8rem;

  list-style: none;
}

.product-gallery__item {
  width: 100%;
}

.product-gallery__img {
  width: 100%;
}

/* nav breadcrumb */
nav.breadcrumb {
  display: flex;
  align-items: center;
  padding: 0;
}

nav.breadcrumb a {
  text-decoration: none;
  color: #6c757d;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}

nav.breadcrumb a:hover {
  color: #57a203;
}

nav.breadcrumb a.active {
  color: #212529;
}

nav.breadcrumb a.active:hover {
  color: #212529;
}

.breadcrumb a:not(:last-child)::after {
  content: "/";
  color: #dee2e6;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0;
  margin: 0 1.2rem;
}

/* 文字、價格、內容 */
.product-detail-info__title {
  font-size: 3.2rem;
  font-weight: 700;
  margin-top: 1.2rem;
  margin-bottom: 1.6rem;
}

.product-detail-info__price {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1.6rem;
}

.product-price__current {
  color: #57a203;
  font-size: 2rem;
  font-weight: 700;
}

.product-price__original {
  color: #adb5bd;
  font-size: 1.4rem;
  line-height: 1.5;
  text-decoration: line-through;
}

.product-detail-info__description {
  font-size: 1.6rem;
  line-height: 1.5;
}

.product-detail-info__description:last-child {
  margin-top: 1.2rem;
}

.product-detail-info {
  margin-bottom: 3.2rem;
}

/* 商品顏色選擇 */
.product-selector__options {
  display: flex;
  gap: 0.8rem;
}

.product-selector__btn {
  width: 6.4rem;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.product-selector__btn img {
  width: 100%;
}

.product-selector__btn span {
  color: #6c757d;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}

/* Hover */
.product-selector__btn:hover:not(:focus):not(:disabled) img {
  opacity: 0.8;
}

/* Selected */
.product-selector__btn:focus img {
  border: 1px solid #212529;
}

.product-selector__btn:focus span {
  color: #212529;
}

/* Disabled */
.product-selector__btn:disabled {
  cursor: not-allowed;
}

.product-selector__btn:disabled img,
.product-selector__btn:disabled span {
  opacity: 0.4;
}

/* 商品尺寸選擇 */
.product-selector__size {
  margin-top: 3.2rem;
  margin-bottom: 4.8rem;
}

.product-selector__label {
  display: block;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 0.8rem;
}

.product-selector__size .product-selector__options {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.8rem;
}

/* 尺寸按鈕專屬外觀設計 */
.product-selector__btn--size {
  /* 按鈕外觀 */
  background-color: transparent;
  border: 1px solid #dee2e6;
  border-radius: 0.4rem;
  cursor: pointer;
  /* 內部排版 */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 4.8rem;
  /* 文字設定 */
  color: #212529;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}

/* 尺寸按鈕狀態 */
.product-selector__btn--size:hover {
  border: 1px solid #6c757d;
}

.product-selector__btn--size:focus {
  border: 1px solid #212529;
}

.product-selector__btn--size.disable {
  border: 1px solid #dee2e6;
  opacity: 40%;
  cursor: not-allowed;
}

/* 剩餘數量 */
.product-selector__warning {
  background-color: transparent;
  color: #d74f4f;
  font-size: 1.4rem;
  line-height: 1.5;
  display: block;
  padding-top: 0.8rem;
}

/* actions */
.product-actions {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 3.2rem;
}

.product-actions .btn {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;

  min-height: 4.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 0.4rem;
  cursor: pointer;
}

.btn svg {
  width: 2rem;
  height: 2rem;
  margin-right: 0.2rem;
}

/* 空心按鈕：加入收藏 */
/* Default */
.product-actions .btn--fav {
  background-color: #fff;
  color: #212529;
  border: 1px solid #212529;
  border-radius: 0.4rem;
}

.btn--fav .icon-outline {
  background-color: #fff;
  color: #212529;
  margin-right: 0;
}

.btn--fav .icon-solid,
.btn--fav .text-active {
  display: none;
}

/* Hover */
.product-actions .btn--fav:hover {
  background-color: #212529;
  color: #fff;
  border: 1px solid #212529;
}

.btn--fav:hover .icon-outline {
  background-color: #212529;
  color: #fff;
}

/* Active */
.product-actions .btn--fav:focus {
  background-color: #fff;
  color: #212529;
  border: 1px solid #212529;
}

.btn--fav:focus .icon-outline,
.btn--fav:focus .text-default {
  display: none;
}

.btn--fav:focus .icon-solid {
  display: flex;
  background-color: #fff;
  color: #212529;
  margin-right: 0;
}

.btn--fav:focus .text-active {
  display: flex;
  color: #212529;
}

/* 實心按鈕：門市預約試穿 */
.product-actions .btn--primary {
  background-color: #212529;
  color: #fff;
  border: none;
}

.product-actions .shopping-bag {
  margin-right: 0;
}

.product-actions .btn--primary:hover {
  background-color: #495057;
}

/* product-details-list: 商品材質、購買須知、保養方式 */
.details-item {
  border-bottom: 1px solid #dee2e6;
  padding: 1.2rem 0;
}

.details-item__title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.4rem;
}

.details-item__list {
  color: #6c757d;
}

.details-item__list p {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* recommend-products */
.recommend-products__content {
  padding-block: 4.8rem;
}

.recommend-products__title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.product-card-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2.4rem;
}

.product-card {
  cursor: pointer;
}

.product-card a:hover {
  color: #6c757d;
}

.product-card__info {
  margin-top: 1.2rem;
}

.product-card__name {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.product-card__price {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}

/* cta */
.cta {
  padding-top: 4rem;
}

.banner {
  background-color: #e8fec5;
  width: 100%;
  padding: 2.4rem 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.banner p {
  font-size: 2.4rem;
  font-weight: 700;
}

.btn--cta {
  background-color: #212529;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;

  display: inline-block;
  padding: 1.2rem 2.4rem;
  border-radius: 0.4rem;
}

.btn--cta:hover {
  background-color: #495057;
}

/* footer */
.site-footer {
  background-color: #f8f9fa;
  width: 100%;
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

.site-footer nav {
  display: flex;
  padding: 0;
  margin: 0;
}

.site-footer .logo-link {
  width: 100%;
  display: flex;
  align-items: center;
}

.site-footer .page-link {
  display: flex;
  gap: 4rem;
  margin-left: auto;
}

.copyright {
  padding-top: 3.2rem;
  margin-top: 2.4rem;
  border-top: 1px solid #dee2e6;
  text-align: center;
}

.copyright p {
  color: #6c757d;
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}

.copyright p:last-child {
  margin-bottom: 0;
}
