/* rem and em don't depend on html font-size in media queries!
Instead, 1rem  = 1em =16px */

/***************************/
/* BELOW 800px (Large Tablets) */
/***************************/
@media (max-width: 50em) {
  /* 右側＋左側 grid */
  .product-detail__container {
    grid-template-columns: minmax(0, 1fr);
    padding: 0;
  }

  .product-summary {
    padding: 0 1.2rem;
  }
}

/***************************/
/* BELOW 576px (Large Mobile) */
/***************************/
@media (max-width: 36em) {
  /* Header Nav */
  .site-header nav {
    padding: 1.3rem 0;
  }

  .site-header .page-link {
    display: none;
  }

  /* 左側商品圖 */
  .product-gallery__list {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .product-gallery__item:not(:first-child) {
    display: none;
  }

  /* nav breadcrumb */
  nav.breadcrumb a {
    font-size: 1.4rem;
    margin-top: 0.8rem;
    margin-bottom: 1.2rem;
  }

  /* 文字、價格、內容 */
  .product-detail-info__title {
    font-size: 2.4rem;
    margin-top: 0.8rem;
    margin-bottom: 1.2rem;
  }

  .product-detail-info__price {
    margin-bottom: 1.2rem;
  }

  .product-price__current {
    font-size: 1.6rem;
  }

  /* actions */
  .product-actions .btn--primary {
    order: 1;
    /* 自動放大並均分容器的剩餘空間 */
    flex: 1;
  }

  .product-actions .btn--fav {
    order: 2;
    /* flex-grow flex-shrink flex-basis */
    /* 收藏按鈕固定4.8rem，不變寬、不縮小 */
    flex: 0 0 4.8rem;
    padding: 0;
    border: 0;
  }

  /* 隱藏文字，只保留愛心 */
  .btn--fav .text-default,
  .btn--fav .text-active {
    display: none;
  }

  .btn svg {
    margin-right: 0;
  }

  /* 空心按鈕 */
  /* Hover & Active */
  .product-actions .btn--fav:hover,
  .product-actions .btn--fav:focus {
    background-color: #fff;
    color: #212529;
    border: none;
  }

  .btn--fav:hover .icon-outline,
  .btn--fav:focus .icon-outline {
    background-color: #fff;
    color: #57a203;
  }

  /* Active */
  .btn--fav:focus .icon-outline {
    display: flex;
  }

  .btn--fav:focus .icon-solid {
    display: none;
  }

  .btn--fav:focus .text-active,
  .btn--fav:focus .text-default {
    display: none;
  }

  /* recommend-products */
  .recommend-products__content.container {
    padding-inline: 1.2rem;
    padding-block: 4rem;
  }

  .recommend-products__title {
    font-size: 2rem;
    padding: 0.8rem 0;
  }

  .product-card-grid {
    gap: 1.6rem;
    grid-template-columns: none;
    grid-auto-flow: column; /* 商品往右排列 */
    grid-auto-columns: min(80%, 30rem);

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain; /* 水平輪播 */

    scrollbar-width: none; /* 隱藏 Firefox 捲軸 */
  }

  .product-card-grid::-webkit-scrollbar {
    display: none; /* 隱藏 Chrome／Safari 捲軸 */
  }

  .product-card-grid > .product-card {
    scroll-snap-align: start;
  }

  /* cta */
  .cta {
    margin-top: 0;
    padding-top: 2.4rem;
  }

  .banner {
    gap: 1.6rem;
  }

  .banner p {
    font-size: 2rem;
  }

  .btn--cta {
    padding: 0.8rem 1.6rem;
  }

  /* footer */
  .site-footer {
    padding: 3.2rem 0;
  }

  .site-footer nav {
    flex-direction: column;
  }

  .site-footer .logo-link {
    flex-direction: column;
    gap: 0.8rem;
    align-items: flex-start;
  }

  .site-footer .page-link {
    margin: 0;
    padding-left: 1.2rem;
    flex-direction: column;
    gap: 0.4rem;
  }

  .site-footer .page-link a {
    display: block;
    padding: 1.2rem 0;
  }
}

/***************************/
/* BELOW 376px (Small Mobile) */
/***************************/
@media (max-width: 23.5em) {
  /* 商品尺寸選擇 */
  .product-selector__size {
    margin: 2.4rem 0;
  }

  .product-selector__size .product-selector__options {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
