/* rem and em don't depend on html font-size in media queries!
Instead, 1rem  = 1em =16px */

/***************************/
/* BELOW 1160px (Landscape Tablets) */
/***************************/
@media (max-width: 72.5em) {
  .auth-card__content {
    padding: 6.4rem 4.8rem;
  }
}

/***************************/
/* BELOW 952px (Tablets) */
/***************************/
@media (max-width: 59.5em) {
  /* Login */
  .login {
    padding: 3.2rem 0;
  }

  .auth-card__content {
    padding: 3.2rem 1.6rem;
  }

  .auth-card__title {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }

  .auth-tabs {
    margin-bottom: 2.4rem;
  }
}

/***************************/
/* BELOW 840px (Tablets) */
/***************************/

@media (max-width: 52.5em) {
  .login {
    padding: 0;
  }

  .login-layout {
    padding: 0;
    grid-template-columns: minmax(0, 1fr);
    gap: 1.6rem;
  }

  .brand-card,
  .auth-card {
    border-radius: 0;
  }

  .brand-card__img {
    display: none;
  }

  .brand-card__img.mobile {
    display: block;
  }

  .auth-card__content {
    padding: 4.8rem 3.2rem;
  }

  .auth-card__bg {
    display: none;
  }
}

/***************************/
/* BELOW 576px (Large Mobile) */
/***************************/
@media (max-width: 36em) {
  /* Header Nav */
  .site-header nav {
    padding: 1.3rem 0;
  }

  .site-header .page-link {
    display: none;
  }

  /* Login */
  .brand-card {
    width: 100%;
  }

  .auth-card__content {
    padding: 3.2rem 1.2rem;
  }

  .auth-card__title {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }

  .auth-tabs {
    margin-bottom: 2.4rem;
  }

  /* footer */
  .site-footer {
    padding: 3.2rem 0;
  }

  .site-footer nav {
    flex-direction: column;
  }

  .site-footer .logo-link {
    flex-direction: column;
    gap: 0.8rem;
    align-items: flex-start;
  }

  .site-footer .page-link {
    margin: 0;
    padding-left: 1.2rem;
    flex-direction: column;
    gap: 0.4rem;
  }

  .site-footer .page-link a {
    display: block;
    padding: 1.2rem 0;
  }
}
