/* Reusable */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px / 16px = 0.625 => 1rem = 10px */
}

body {
  color: #212529;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 700;
}

h4 {
  font-size: 2.4rem;
  font-weight: 700;
}

h5 {
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #212529;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
  font-size: 1.6rem;
}

.container {
  width: 100%;
  max-width: 129.6rem;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.logo a {
  display: block;
}

.page-link a {
  color: #212529;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 1.2rem 0;
}

.page-link a:hover {
  color: #6c757d;
}

/* Header Nav */
.site-header nav {
  width: 100%;
  padding: 1.6rem 0;
  display: flex;
  align-items: center;
}

.site-header .logo-link {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.site-header .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.btn-wrapper {
  margin-left: auto;
  padding: 1.2rem;
  cursor: pointer;
}

.btn-wrapper:hover .btn-icon {
  color: #57a203;
}

.btn-icon {
  display: block;
}

/* Login */
.login {
  padding: 6.4rem 0;
}

.login-layout {
  display: grid;
  grid-template-columns: minmax(0, 526fr) minmax(0, 746fr);
  gap: 2.4rem;
}

.brand-card {
  border-radius: 0.4rem;
  overflow: hidden;
}

.brand-card__img {
  width: 100%;
}

.brand-card__img.mobile {
  display: none;
}

/* 右側 */
.auth-card {
  position: relative;
  display: grid;
  overflow: hidden;
  border-radius: 0.4rem;
}

.auth-card__bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
}

.auth-card__content {
  position: relative;
  z-index: 1;

  width: 100%;
  align-self: center;
  /* margin: 0 auto; */
  padding: 12rem 8rem;
}

.auth-card__title {
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3.2rem;
}

.auth-tabs {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-bottom: 3.2rem;
}

.auth-tabs__button {
  display: block;
  width: 100%;
  padding: 1.2rem 0;

  color: #6c757d;
  border-bottom: 2px solid #dee2e6;

  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}

.auth-tabs__button.active {
  color: #212529;
  border-bottom: 2px solid #212529;
}

.social-login {
  display: grid;
  gap: 0.8rem;
}

.social-login__btn {
  width: 100%;
  padding: 1.2rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;

  background-color: #fff;
  color: #212529;
  border: 1px solid #dee2e6;
  cursor: pointer;
}

.social-login__btn:hover {
  color: #6c757d;
}

.social-login__logo {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
}

.social-login__text {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* footer */
.site-footer {
  background-color: #f8f9fa;
  width: 100%;
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

.site-footer nav {
  display: flex;
  padding: 0;
  margin: 0;
}

.site-footer .logo-link {
  width: 100%;
  display: flex;
  align-items: center;
}

.site-footer .page-link {
  display: flex;
  gap: 4rem;
  margin-left: auto;
}

.copyright {
  padding-top: 3.2rem;
  margin-top: 2.4rem;
  border-top: 1px solid #dee2e6;
  text-align: center;
}

.copyright p {
  color: #6c757d;
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}

.copyright p:last-child {
  margin-bottom: 0;
}
