/* rem and em don't depend on html font-sizein media queries!
Instead, 1rem  = 1em =16px */

/***************************/
/* BELOW 768px (Tablets) */
/***************************/
@media (max-width: 48em) {
  /* Hero Section */
  .hero-section {
    height: 24rem;
  }

  .hero-img {
    display: none;
  }

  .hero-img.mobile {
    display: block;
  }

  .hero-section::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  .page-title {
    z-index: 2;
  }
}

/***************************/
/* BELOW 576px (Large Mobile) */
/***************************/

@media (max-width: 36em) {
  .border-bottom {
    padding-bottom: 3.2rem;
  }

  /* Header Nav */
  .site-header nav {
    padding: 1.3rem 0;
  }

  .site-header .page-link {
    display: none;
  }

  /* Hero Section */
  .page-title h1 {
    font-size: 2.8rem;
  }

  .page-title h3 {
    font-size: 2rem;
  }

  /* Block-quote */
  .block-quote {
    margin: 3.2rem 0;
    padding: 2.4rem;
    border-radius: 0.4rem;
    text-align: left;
  }

  /* 品牌簡介 */
  .brand-intro {
    margin-bottom: 3.2rem;
  }

  .brand-intro__content {
    padding-top: 1.6rem;
    margin-bottom: 3.2rem;
  }

  .brand-intro-title {
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }

  .brand-intro h5 {
    margin-bottom: 1.2rem;
  }

  .brand-slogan {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  /* 品牌歷程 */
  .brand-history {
    margin-bottom: 3.2rem;
  }

  .brand-history-title {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1.6rem;
  }

  .brand-history ol li {
    line-height: 1.5;
  }

  .brand-history li:last-child {
    padding-bottom: 0;
  }

  /* 品牌理念 */
  .brand-concept {
    padding-top: 0;
    margin-bottom: 3.2rem;
  }

  .brand-concept-title {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1.6rem;
  }

  .brand-concept li {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .brand-concept li:last-child {
    margin-bottom: 0;
  }

  /* 品牌小故事 */
  .brand-side-story {
    padding-top: 0;
    margin-bottom: 3.2rem;
  }

  .brand-side-story-title {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1.6rem;
  }

  /* cta */
  .banner {
    gap: 1.6rem;
  }

  .banner p {
    font-size: 2rem;
  }

  .btn--cta {
    padding: 0.8rem 1.6rem;
  }

  /* footer */
  .site-footer {
    padding: 3.2rem 0;
  }

  .site-footer nav {
    flex-direction: column;
  }

  .site-footer .logo-link {
    flex-direction: column;
    gap: 0.8rem;
    align-items: flex-start;
  }

  .site-footer .page-link {
    margin: 0;
    padding-left: 1.2rem;
    flex-direction: column;
    gap: 0.4rem;
  }

  .site-footer .page-link a {
    display: block;
    padding: 1.2rem 0;
  }
}
