/* Reusable */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px / 16px = 0.625 => 1rem = 10px */
}

body {
  color: #212529;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 700;
}

h4 {
  font-size: 2.4rem;
  font-weight: 700;
}

h5 {
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #212529;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
  font-size: 1.6rem;
}

.container {
  width: 100%;
  max-width: 129.6rem;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.logo a {
  display: block;
}

.page-link a {
  color: #212529;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 1.2rem 0;
}

.page-link a:hover {
  color: #6c757d;
}

/* Header Nav */
.site-header nav {
  width: 100%;
  padding: 1.6rem 0;
  display: flex;
  align-items: center;
}

.site-header .logo-link {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.site-header .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.btn-wrapper {
  margin-left: auto;
  padding: 1.2rem;
  cursor: pointer;
}

.btn-wrapper:hover .btn-icon {
  color: #57a203;
}

.btn-icon {
  display: block;
}

/* Breadcrumb */
.breadcrumb {
  width: auto;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
  margin-top: 3.2rem;

  display: flex;
  align-items: center;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
}

.breadcrumb-item a {
  color: #6c757d;
}

.breadcrumb-item a:hover {
  color: #57a203;
}

.breadcrumb-item.active a {
  color: #212529;
}

.breadcrumb-item:not(:last-child)::after {
  content: "/";
  color: #dee2e6;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0;
  margin: 0 1.2rem;
}

/* title */
.title {
  margin-top: 2.4rem;
}

.title h3 {
  padding: 0.7rem 0;
}

/* main-layout */
.main-layout {
  margin-top: 2.4rem;
  display: grid;
  grid-template-columns: 19.6rem minmax(0, 1fr);
  column-gap: 2.4rem;
}
/* 左側邊欄 */
.sidebar ul {
  list-style: none;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}

.sidebar ul li {
  padding: 1.2rem 0;
  margin-bottom: 1.6rem;
}

.sidebar .active {
  color: #57a203;
  padding: 0.8rem 0;
}

.sidebar li a:hover {
  color: #57a203;
}

/* 右側商品區 */
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.4rem;
  row-gap: 4.8rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.product-card a:hover {
  color: #6c757d;
}

.product-card.mobile {
  display: none;
}

.product-img {
  width: 100%;
}

.product-img img {
  object-fit: cover;
}

.product-name {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 1.2rem;
}

.product-price {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 0.4rem;
}

/* pagination */
.pagination {
  padding: 0;
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.pagination-numbers {
  display: flex;
  gap: 0.8rem;
}

.page-btn,
.page-ellipsis {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  border: none;
  cursor: pointer;
}

.pagination-numbers .page-btn:hover {
  background-color: #f8f9fa;
}

.pagination-numbers .page-ellipsis:hover {
  background-color: #f8f9fa;
}

.page-btn {
  background-color: transparent;
  color: #212529;
  font-size: 1.6rem;
  line-height: 1.5;
  border: none;
  cursor: pointer;
}

.page-btn.active {
  background-color: #c0fa73;
}

.page-btn.active:hover {
  background-color: #c0fa73;
}

.btn-icon-left {
  color: #6c757d;
}

.btn-icon-right {
  color: #212529;
}

.btn-icon-right:hover {
  color: #57a203;
}

/* cta */
.cta {
  margin-top: 3.2rem;
  padding-top: 4.8rem;
}

.banner {
  background-color: #e8fec5;
  width: 100%;
  padding: 2.4rem 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.banner p {
  font-size: 2.4rem;
  font-weight: 700;
}

.btn--cta {
  background-color: #212529;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;

  display: inline-block;
  padding: 1.2rem 2.4rem;
  border-radius: 0.4rem;
}

.btn--cta:hover {
  background-color: #495057;
}

/* footer */
.site-footer {
  background-color: #f8f9fa;
  width: 100%;
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

.site-footer nav {
  display: flex;
  padding: 0;
  margin: 0;
}

.site-footer .logo-link {
  width: 100%;
  display: flex;
  align-items: center;
}

.site-footer .page-link {
  display: flex;
  gap: 4rem;
  margin-left: auto;
}

.copyright {
  padding-top: 3.2rem;
  margin-top: 2.4rem;
  border-top: 1px solid #dee2e6;
  text-align: center;
}

.copyright p {
  color: #6c757d;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 0.4rem;
}

.copyright p:last-child {
  margin-bottom: 0;
}
