/* rem and em don't depend on html font-size in media queries!
Instead, 1rem  = 1em =16px */

/***************************/
/* BELOW 768px (Tablets) */
/***************************/
@media (max-width: 48em) {
  /* main-layout */
  .main-layout {
    column-gap: 1.6rem;
  }
  /* 右側商品區 */
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.6rem;
    row-gap: 3.2rem;
  }

  .product-card.mobile {
    display: flex;
  }
}

/***************************/
/* BELOW 576px (Large Mobile) */
/***************************/

@media (max-width: 36em) {
  /* Header Nav */
  .site-header nav {
    padding: 1.3rem 0;
  }

  .site-header .page-link {
    display: none;
  }

  /* Breadcrumb */
  .breadcrumb {
    font-size: 1.4rem;
    margin-top: 1.6rem;
  }

  .title {
    margin-top: 1.2rem;
  }

  .title h3 {
    padding: 0.95rem 0;
  }

  /* main-layout */
  .main-layout {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  /* 左側邊欄 */
  .sidebar {
    display: none;
  }

  /* 右側商品區 */
  .product-grid {
    column-gap: 1.2rem;
    row-gap: 2.4rem;
  }

  .product-card {
    gap: 0.8rem;
  }

  .product-name {
    margin-top: 0.8rem;
  }

  .product-price {
    margin-top: 0;
  }

  /* pagination */
  .pagination {
    margin-top: 3.2rem;
  }

  /* cta */
  .cta {
    margin-top: 1.6rem;
    padding-top: 2.4rem;
  }

  .banner {
    gap: 1.6rem;
  }

  .banner p {
    font-size: 2rem;
  }

  .btn--cta {
    padding: 0.8rem 1.6rem;
  }

  /* footer */
  .site-footer {
    padding: 3.2rem 0;
  }

  .site-footer nav {
    flex-direction: column;
    margin-top: 0;
  }

  .site-footer .logo-link {
    flex-direction: column;
    gap: 0.8rem;
    align-items: flex-start;
  }

  .site-footer .page-link {
    margin: 0;
    padding-left: 1.2rem;
    flex-direction: column;
    gap: 0.4rem;
  }

  .site-footer .page-link a {
    display: block;
    padding: 1.2rem 0;
  }
}
