/* rem and em don't depend on html font-sizein media queries!
Instead, 1rem  = 1em =16px */

/***************************/
/* BELOW 375px (Smaller cellphone) */
/***************************/
@media (max-width: 23.5em) {
  .container {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.2rem;
  }

  /* Header Nav */
  .site-header nav {
    width: 100%;
    height: 7.2rem;
    padding: 0;
  }

  .logo-link {
    width: auto;
  }

  .logo-link img {
    padding: 0.8rem 1.2rem;
    margin: 0;
  }

  .site-header .page-link {
    display: none;
  }

  /* Breadcrumb */
  .breadcrumb {
    width: auto;
    font-size: 1.4rem;
    margin-top: 1.6rem;
  }

  .title {
    margin-top: 1.2rem;
  }

  .title h3 {
    padding: 0.95rem 0;
  }

  /* main-layout */
  .main-layout {
    margin-top: 1.2rem;
    grid-template-columns: 1fr;
    column-gap: 0;
  }
  /* 左側邊欄 */
  .sidebar {
    display: none;
  }
  /* 右側商品區 */
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.2rem;
    row-gap: 2.4rem;
  }

  .product-card.mobile {
    display: flex;
  }

  .product-card {
    gap: 0.8rem;
  }

  .product-name {
    margin-top: 0.8rem;
  }

  .product-price {
    margin-top: 0;
  }

  /* pagination */
  .pagination {
    margin-top: 3.2rem;
  }

  /* cta */
  .cta {
    margin-top: 1.6rem;
    padding-top: 2.4rem;
  }

  .banner {
    height: 8.8rem;
    gap: 1.6rem;
  }

  .banner p {
    font-size: 2rem;
  }

  .btn--cta {
    padding: 0.8rem 1.6rem;
  }

  /* footer */
  .site-footer {
    padding: 3.2rem 0;
  }

  .site-footer nav {
    flex-direction: column;
    margin-top: 0;
  }

  .site-footer .logo-link {
    height: auto;
    margin-top: 0;

    flex-direction: column;
    gap: 0.8rem;
    align-items: flex-start;
    justify-content: center;
  }

  .site-footer .logo img {
    width: 10.5rem;
    height: 3rem;
    padding: 0.8rem 0;
  }

  .site-footer .page-link {
    margin: 0;
    padding-left: 1.2rem;
    flex-direction: column;
    gap: 0.4rem;
  }

  .site-footer .page-link a {
    display: block;
    padding: 1.2rem 0;
  }

  .copyright {
    margin-bottom: 0;
  }
}
