.text-sm {
  font-size: 14px;
}

.rounded-6 {
  border-radius: 6px;
}

.rounded-12 {
  border-radius: 12px;
}

.px-13 {
  padding-inline: 13px;
}

.py-9 {
  padding-block: 9px;
}

.p-12 {
  padding: 12px;
}

.py-12 {
  padding-block: 12px;
}

.lh-12 {
  line-height: 1.2;
}
