.footer-navbar {
  animation: none;
  background-color: transparent;
  backdrop-filter: none;

  &::before {
    content: none;
  }

  .btn-primary {
    &:hover {
      background-color: $primary-200;
      color: $black;
    }

    &:focus {
      background-color: $primary-200;
      border: 2px solid $primary-100;
    }
  }
}
.copyright {
  border-top: 1px solid rgba($white, 0.12);
}
